.container-fluid h1 {
    text-align: center;
}

html {
    scroll-padding-top: 110px; /* Altura del Sticky Header */
}
  
.todo {
    margin-top: 100px;
}
.contenido {
    text-align: center;
    padding: 30px 50px;
}
.contenido p {
    text-align:justify;
    /* padding: 30px 50px; */
}

.escobar-img {
    width: 534px ;
}
.escobar-video {
    width: 400px;
}

.escobar-section img{
    text-align: center;
}
.escobar-section video{
    text-align: center;
}

.contacto-acomodar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

 /* Footer */
